@{
    ViewBag.Title = "About Us";
}

<div id="back aboutBack">
    
</div>

<div class="row">
    <div class="col-sm-7 extraTop20">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
    <div class="col-sm-5">
        <img src="~/Content/Images/42.jpg" class="img-responsive" />
    </div>
</div>
<div class="row extraTop20">
    <div class="col-sm-offset-1 col-sm-10">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="#whycalled">Why is it Called Seminary Street?</a></li>
          <li role="presentation"><a href="#renewal">Renewal</a></li>
          <li role="presentation"><a href="#history">History</a></li>
          <li role="presentation"><a href="#whybuy">Why Buy on Seminary Street</a></li>
        </ul>
    </div>
</div>
<div class="row extraTop20">
    <div class="col-sm-offset-1 col-sm-10">
        <a name="whycalled">Why is it Called Seminary Street?</a>
        <p>Before it had a name, there was merely a rutted, north-and-south dirt track which served as Galesburg's eastern boundary. Over its rugged surface, settlers drove teams of horses or oxen, hauling wagons of produce to the Public Square, the business district at the time. Then the fledgling institution known as Knox Manual Labor College decided on a most audacious step for that era-- they would establish a separate school for women. The women would have to reside in a location apart from the men, who were aspiring ministers of the gospel, busy studying Hebrew and Greek and laboring in great gardens belonging to the college. A three-story edifice of wood was duly constructed, the whole costing $5,000 in 1841. The roof boasted a shiny, tin-covered cupola which dominated the flat prairie as far as the eye could see. Adjacent to the unnamed dirt road, the structure was called the Knox Female Seminary*.</p>
        <p>The building's roof stood higher above the ground than that of the proud First Church, a New England-styled building constructed by the settlers on the Southwest corner of the Public Square. Unfortunately, the new women's structure lasted but a few years, being consumed by fire in 1843. The Female Seminary vanished, but the road, by then, known as Seminary Street, kept the name.</p>

        <p class="text-indent">--SEMINARY STREET:   A Brief History by Martin Litvin</p>
 	 
        <small class="extraTop20">* Knox Female Seminary was located at the corner of South Seminary and Mulberry Streets, just west of the Packinghouse Dining Company.</small>

    </div>
</div>
<hr />
<div class="row extraTop20">
    <div class="col-sm-offset-1 col-sm-10">
        <a name="renewal">Renewal</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
<hr />
<div class="row extraTop20">
    <div class="col-sm-offset-1 col-sm-10">
        <a name="history">History of Seminary Street's Commercial Development</a>
        <h5>Researched by Martin Litvin</h5>

        <h6>19th Century Seminary Street</h6>

        <p>In the first years of Galesburg's history, Seminary Street was the eastern boundary of the town. In this earliest period, the building of the Knox Female Seminary in 1841 was the only recorded construction of significance. Land on either side of the street was used for agriculture. Some residences appeared in the 1840's, and the first real commercial construction began at the intersection with Main Street. In 1854 the railroad arrived with a single track from Chicago, but there was no influence yet on Seminary Street. The railroad's first depot was constructed next to the Knox College campus, at the corner of South Prairie and Depot Streets. The first City Directory, published in 1857, listed no entries for South Seminary Street. </p>

        <p>By the time of the Civil War in 1861, Seminary Street was home to several boardinghouses. Typically, the wooden structures occupied the corner locations, with land in between reserved for gardens and livestock. In 1873 the CB&Q double-tracked the route from Chicago to Galesburg. The first brick buildings appeared on Seminary Street in the 1880's; in 1884 the Atchison, Topeka & Santa Fe Railroad arrived. At the same time the CB&Q announced that it would build a new brick depot on South Seminary Street. More boardinghouse appeared in mid-block locations, as well. Names of boardinghouse tenants were published in the early City Directories, along with their occupation. On Seminary Street, nine out of ten residents were employees of the Chicago, Burlington, & Quincy Railroad.  By 1887 all land adjacent to the street was consumed for building. The railroad expansion and location of the new depot on Seminary Street created a boom. The streetscape became an uninterrupted line of buildings, most with brick exteriors. The majority of buildings existing on the street today trace their origin to this period. Boardinghouses relocated to other parts of town. Wholesale grocers, meat packing plants, small cigar factories, bakeries, shoemakers, watchmakers, lunch rooms and new railroad hotels were but a few of the dozens of new listings appearing in the City Directories from this era. Other than the "Panic of '93" and the two to three years of depression following, this period represented Seminary Street's commercial emergence as the primary link from the railroad to Main Street.</p>

        <h6>20th Century Seminary Street</h6>

        <p>Swift & Company announced the construction of a $50,000 building on Mulberry Street to be completed by 1913 (today occupied by the Packinghouse Dining Company). A block west on Kellogg Street, in 1914, plans were announced to build a 7-story first-class hotel, the Custer Hotel (now the Kensington). Next to the hotel, another new project began in 1915, the Orpheum Theatre, soon to be the area's most elegant vaudeville stage and silent film venue. Then, upon America's entry into World War I in 1917, new construction ceased. Seminary Street's commercial expansion was halted. It would be 78 years before a new commercial building was constructed along South Seminary Street. The war ended in 1918 and was soon followed by passage of the Volstead Act and prohibition. The B&B Cigar Store at 105 South Seminary (Seminary Pub today) was a popular speakeasy. With the stock market crash of 1929 and the ensuing depression through the thirties, Seminary Street saw many business failures. Vacancies along the street began to appear in the City Directories. </p>

        <p>The building boom for Seminary Street ended years ago. Because of its proximity to the "Q" Depot, the street was well-traveled, but the growth cycle of years ago was now turning to decline. World War II brought more change. Older businesses from the turn of the century all but disappeared, Swift & Company and W.A. Jordan & Co. being the primary survivors. The commercial enterprises on the street were now becoming smaller businesses typical of "side streets". The street served an incubator role at times. Many businesses started up on Seminary Street, but moved on to other locations. On the other hand, some in search of lower rent found the street to be a long-term home. The real action was on Main Street. As the fifties ended, the large department store of Block & Kuhl's (later Carson Pirie Scott) anchored Main Street and Seminary (Lindstrom's today), while Osco Drug built a new store in 1959 on the southwest corner with its trademark concept, "Self-Service", becoming quite a draw. The spin-off traffic from these large Main Street retailers helped several South Seminary Street merchants survive. </p>

        <p>For Seminary Street, the sixties exemplified its second class "side street" existence. Many business start-ups were noted, but only one or two enjoyed any longevity. Many of the buildings were beginning to show signs of age and lack of maintenance. The cycle of decline accelerated, bringing lower rents and frequent vacancies. In May of 1968 the Calico Cat celebrated its grand opening at 78 South Seminary Street by selling incense, paper flowers, custom clothing, stretch Pepsi bottles, posters and love beads.  No one would have expected the fledgling enterprise to make it through the summer. It was a time of change on Seminary Street, but few anticipated the change that would come to downtown Galesburg within a few years. In the mid-seventies with the opening of a new regional shopping center in the community, the downtown and Seminary Street took a decided turn for the worse. In a period of months, the downtown lost its 100 year old O. T. Johnson department store, as well as Carson Pirie Scott & Company, Sears, Penney's and numerous smaller retailers. As the traditional marketplace shifted to the shopping center and the mass merchandisers, a wake of vacant buildings were left downtown. It was against this backdrop, in 1977, when the owners of the Calico Cat, together with a group of local partners and the backing of  a local bank, acquired the majority of buildings on the street. A revitalization plan called for opening new types of specialty businesses and for promoting the area's railroad heritage as a tourism destination. In 1978 Galesburg was selected by the National Trust for Historic Preservation to serve in the original "Main Street" pilot project. The Trust's agenda and the Seminary Street mission would dovetail repeatedly from then on. By 1981 Seminary Street received national attention when the Wall Street Journal mentioned the success of the Packinghouse Dining Company in a feature on downtown revitalization. Another Seminary Street restaurant, the Landmark Cafe & Creperie, grew in reputation and popularity and soon specialty shop development followed. At the close of the eighties, Seminary Street was enjoying a growing reputation with half of the buildings on the street restored. </p>

        <p>Over the years, more distinctive specialty businesses opened on Seminary Street - all locally owned and operated - and all with a shared commitment to quality and personal service. The Seminary Street Merchants' Association earned the "Outstanding Organizational Award" from the State of Illinois Regional Tourism Council. Seminary Street received nationwide attention when it was featured in the Gourmet magazine cover story, "Celebrating America...Places, Restaurants, Recipes." Seminary Street restaurants have been consistently rated as exceptional values with outstanding quality in both AAA and Mobil Travel Guides. The Chicago Tribune showed Seminary Street in a feature article, "Main Street Reinvented," documenting Galesburg's success and the Main Street program. In recent years, the Seminary Street Historic Commercial District and the Landmark and Packinghouse restaurants have brought home numerous "Best of State" awards from the annual Illinois Governor's Conference on Tourism. Seminary Street was featured in Midwest Living magazine as one of five off the beaten path treasures in the Midwest.</p>

        <h6>Seminary Street Today</h6>

        <p>The Seminary Street Historic Commercial District includes 30 businesses and is home to the Galesburg Railroad Museum and Discovery Depot Children's Museum.  Recently Seminary Street has been restored to its original brick surface with genuine Purington Pavers. Loft apartments now occupy the second story space on the east side of the street, where the original 1884 upper facade and bay windows have been restored.</p>

    </div>
</div>
<hr />
<div class="row extraTop20">
    <div class="col-sm-offset-1 col-sm-10">
        <a name="whybuy">Why Buy on Seminary Street?</a>
        <ol class="list-group">
            <li class="list-group-item">It keeps dollars in our economy. For every $100 you spend on Seminary Street, from $45 to $68 will stay in the community. For every $100 spent at a chain store only $14 comes back.</li>
            <li class="list-group-item">It honors our heritage. Seminary Street is a unique commercial district. It preserves the historic heart of Galesburg.</li>
            <li class="list-group-item">It creates local jobs. We are locally owned and employ people from our community.</li>
            <li class="list-group-item">It helps the environment. Buying from Seminary Street conserves energy and resources in the form of less fuel for transportation and  less packaging.</li>
            <li class="list-group-item">It nurtures our community. We know each other.  Studies show that local businesses donate to community causes at more than twice the rate of chains.</li>
            <li class="list-group-item">It conserves tax dollars. Spending locally ensures that your sales taxes are reinvested in your community. That means more city funds available for infrastructure improvements, maintenance and beautification.</li>
            <li class="list-group-item">It creates more choice. We offer an alternative to the generic big box stores and chain restaurants.</li>
            <li class="list-group-item">It uses local expertise and provides personal service. We know you.  You are our friends and neighbors, and we have a vested interest in serving you.  We buy for our market, and provide you with the best in personal service in our shops and restaurants.</li>
            <li class="list-group-item">It invests in entrepreneurship. Creativity and entrepreneurship are what the American economy is founded upon. Nurturing local business ensures a strong community. Seminary Street has been an incubator for dozens of shops and restaurants.</li>
            <li class="list-group-item">It makes us a destination. The more interesting and unique we are as a community, the more we attract tourists, shoppers and others who want to visit Galesburg. This benefits everyone</li>
        </ol>
    </div>
</div>
